/* style.css */

html {
    font-size: 62.5%;
}

body {
    font-family: "Slackey", sans-serif;
    font-size: 16px;


    background-image: url("https://i.pinimg.com/564x/96/fd/bf/96fdbf9d28ccc73805edfd12b03849a8.jpg");

    background-size: cover;

    background-repeat: no-repeat;

    filter: brightness(110%) contrast(120%);

}
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');


h1 {
    text-align: center;
    text-decoration: underline;
    color: #ffe752;
    font-size: 3em;
    font-family: "Slackey", sans-serif;
}

h2 {
    text-align: center;
    color: #ffe752;
    font-size: 1.5em;
    font-family: "Slackey", sans-serif;
}

.container {
    text-align: center;
}

 text[name="user-input"] {
    font-family: "Slackey", sans-serif;
    font-size: 1.2em;
    color: #ffe752;
    background-color: #2f84f6;
    border: 4px solid blueviolet;
    padding: 1px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 15px;
}

#reset-button {
    font-family: "Slackey", sans-serif;
    font-size: 1.2em;
    color:#ffe752;
    background-color: #2f84f6;
    border: 4px solid blueviolet;
    padding: 10px 20px;
    border-radius: 15px;
}

.results {
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    color: #ffe752;
}

.results li {
    margin-bottom: 10px;
}